// Place all the styles related to the Workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workspace-index {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 60%;
  background-color: rgb(245, 245, 245);
  position: relative;
  padding-left: 10px;

  
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-direction: row;
}

.workspace-index-item {
  flex-basis: 45%;
  margin: 25px 16px;
}

.workspace-index-item img {
  width: 103%;
  cursor: pointer;
  margin-bottom: 10px;
}

.workspace-index-item #image-overlay-price {
  position: absolute;
  margin-top: -80px;
  background-color: rgba(0,0,0,0.8);
  padding: 8px;
  color: white;
  height: 31px;
  vertical-align: middle;
}

#image-overlay-price span {
  font-size: 24px;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
}

.search-params {
  height: 260px;
  width: 60%;
}
