// Place all the styles related to the Workspaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workspace-index {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(245, 245, 245);
  position: relative;
  padding-left: 10px;
}


// TODO: I thought REM made for responsive??
// width: 25rem;
// height: 16.6rem;
.workspace-index-item {
  width: 46%;
  height: 29%;
  margin: 25px 1.5%;
  border: 1px solid black;
}

// Want the picture to be in the backrground, absolutely positioned w/ overlay text. TODO: How to make this responsive???
.workspace-index-item img {
  width: 100%;
  min-height: 100%;
  cursor: pointer;
}

//Overlay text:
.workspace-index-item #image-overlay-price {
  position: absolute;
  margin-top: -80px;
  background-color: rgba(0,0,0,0.8);
  padding: 8px;
  color: white;
  height: 31px;
  vertical-align: middle;
}

#image-overlay-price span {
  padding-top: 3px;
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.search-params {
  height: 260px;
  width: 60%;
}
