body {
  font-family: 'Work Sans', sans-serif;
}

hr {
  border-color: #eee;
}

#above-fold-background {
  height: 600px;
  width: 100%;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.nav-on-landing {
  z-index:1000;
  background: #eee;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

.navbar-items {
  font-weight: 400;
  background: none;
  color: gray;
  padding: 2rem;
  max-width: 100px;
  padding-top: 0;


  margin: 2rem;
  margin-top: 0;
  font-size: 1.2rem;
  float: right;
  position: relative;
  // border: 3px solid white;
  width: 20%;

  max-height: 60px;
  justify-content: space-between;
}

#login, #user-dropdown-menu {
  float: right;
}

.user-errors {
  color: black;
}

#logo{
  float: left;
}

#login-button {
  width: 100%;
  margin-top: 10px;
  min-height: 65px;

  font-size: 18px;
  font-weight: 300;
  background-color: red;
  border: 5px solid red;
  color: white;
}

.form-box {
  width: 100%;
  font-weight: 300;
  margin-top: 10px;
  min-height: 60px;
  padding-left: 10px;

  font-size: 18px;
}

#sign-up-link {
  float: right;
}
