.nav-on-landing {
  z-index:800;
  background: none;
  height: 60px;
  width: 100%;
  color: white;
  justify-content: space-between;
}

.navbar-items {
  flex-direction: column;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.82);
  color: white;
  padding: 3rem;

  margin: 2rem;
  font-size: 1.2rem;
  position: relative;
  border-radius: 3px;
  min-width: 530px;
  width: 38%;

  max-height: 60px;
  justify-content: space-between;
}
