#above-fold-background {
  height: 600px;
  width: 100%;
  background-color: black;
  padding: 0px;
  margin: 0px;
}

.nav-on-landing {
  z-index:1000;
  background: #eee;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  position: fixed;
}

.navbar-items {
  font-weight: 400;
  background: none;
  color: gray;
  padding: 2rem;
  max-width: 150px;
  padding-top: 0;


  margin: 2rem;
  margin-top: 0;
  font-size: 1.2rem;
  float: right;
  position: relative;
  // border: 3px solid white;
  width: 20%;

  max-height: 60px;
  justify-content: space-between;
}

#logo, #list-your-space {
  float: left;
}

#login, #user-dropdown-menu {
  float: right;
}
