.nav-detail {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  background: white;
  z-index:100000;
  width: 100%;
  border: 2px solid #eee;
  color: black;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-end;
}

.nav-detail div {
  border-right: 2px solid #eee;
  margin: 0px;
  height: 45px;
  text-align: center;
}

.navbar-items {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin: 0;
  padding-left: 0;
  display: -webkit-flex;
  -webkit-justify-content: flex-start;
}

.nav-detail .navbar-items span {
  position: absolute;
  width: 100%;
  margin-top: 14px;
}

.nav-detail #nav-logo {
  width: 140px;
}

.nav-detail #signup {
  border-left: 2px solid #eee;
}

// Temporarily hiding "List your space" until functionality is there.
.nav-detail #list-your-space {
  display: none;
  align-content: center;
  border: 2px solid #eee;
  margin-right: 10px;
}

.nav-detail .navbar-items:hover {
  transition: all 0.5s ease;
  background-color: #eee;
  color: black;
}

.nav-detail .dropdown {
  padding-right: 20px;
}
