.nav-home {
  z-index:100000;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: white;
  height: 64px;
  position: absolute;
}

#scroll-nav-on {
  position: fixed;
  background-color: black;
  opacity: 0.5;
  transition: all 0.5s ease;
}

.navbar-items {
  padding: 8px 0px;
  margin: 10px 0px;
  height: 18px;
  min-width: 80px;

  line-height: 19px;
  text-align: center;

  font-weight: 300;
  background: none;
  font-size: 0.85em;
  cursor: pointer;
}

.navbar-items:hover {
  color: #eee;
}

// Temporarily hiding "List your space" until functionality is there.
#list-your-space {
  display: none;
  min-width: 110px;
  margin-top: 16px;
  height: 10px;
}

#list-your-space span {
  margin-top: -4px;
}

.nav-home .navbar-items span {
  position: absolute;
  width: 100%;
  margin-top: 4px;
}

.nav-home #list-your-space {
  border: 2px solid white;
  margin-right: 15px;
}

.nav-home .dropdown {
  padding-right: 40px;
}

.nav-home .user-menu {
  margin-top: -16px;
}

.nav-home #list-your-space:hover {
  background-color: black;
  color: white;
  opacity: 0.5;
  transition: all 0.5s ease;
}

#nav-logo {
  margin-right: auto;
  font-family: 'Alfa Slab One', cursive;
  font-size: 100%;
}

// #icon {
//   position: absolute;
//   margin-left: 25px;
//   margin-top: 5px;
// }

.login-and-signup {
  display: flex;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

// When you hover over the id, you show the menu:
.dropdown:hover .user-menu {
  opacity: 0.95;
  cursor: pointer;
  visibility: visible;
}

ul.user-menu {
  padding: 0;
  border: 1px solid #eee;
  margin-left: -105px;
  width: 225px;
  top: 50px;
}

// ul.user-menu li span{
//   padding-left: 10px;
// }

ul.user-menu li:hover {
  transition: all 0.4s ease;
  padding-left: 15px;
}
