.user-profile-page-container {
  position: absolute;
  background: #f5f5f5;
  min-width: 100%;
  width: auto;
  object-fit: contain;
}

.user-profile-content {
  position: relative;
  margin-left: 5%;
  width: 90%;
  margin-top: 100px;
  text-align: center;
}

.user-profile-content h2 {
  margin-left: 3%;
  margin-top: 20px;
  text-align: left;
  color: black;
  font-size: 28px;
}

.upcoming-reservations {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.upcoming-reservations div {
  margin: 25px 0;
  padding: 20px;
  min-width: 20%;
  max-width: 300px;
  height: 58vh;
  background: white;
  text-align: left;
}

.upcoming-reservations div h3 {
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 8px;
}

.upcoming-reservations div h4 {
  font-size: 18px;
  margin-top: 5px;
}

.upcoming-reservations img {
  width: 100%;
  height: auto;
  margin: 10px 0;
}

.upcoming-reservations p {
  margin-bottom: 40px;
}
