#above-fold-background-video {
  margin-top: 0px;
  object-fit: contain;
  position: absolute;
  top: 10%;
  left: 50%;
  min-width: 50%;
  width: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}
// background-image: url('http://res.cloudinary.com/dyzqtq32z/image/upload/v1462081650/main-background_keuduj.jpg');

.above-fold-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  margin-top: 12em;
  width: 100%;
}

.above-fold-text h1, h2 {
  position: relative;
  color: #fff;
}

.above-fold-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.above-fold-text h2 {
  font-size: 18px;
  font-weight: 600;
}

.below-fold {
  position: absolute;
  margin-top: 80vh;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-weight: 600;
  color: #565a5c;
}

.below-fold div {
  position: relative;
  justify-content: center;
  font-size: 35px;
  margin: 30px auto;
  height: 150px;
}

.below-fold h3 {
  margin: 5%;
  text-align: center;
}

.graphics-gallery {
  display: flex;
  flex-direction: row;
}

.graphics-gallery img {
  width: 150px;
  height: 150px;
  margin: 15px 30px 0 30px;
}

.homepage-section-two h3 {
  margin: 20% 0 0 0;
}

.homepage-section-two div {
  width: 95%;
  display: flex;
  flex-direction: row;
  height: 300px;
  flex-wrap: wrap;
}

.homepage-section-two .city-images {
  cursor: pointer;
  height: 350px;
  width: 400px;
  margin: 10px;
}

.homepage-section-two .city-images h1 {
  font-weight: bold;
  color: white;
  margin-top: 165px;
}

#homepage-footer {
  margin-top: 300px;
  height: 200px;
  background-color: white;
}
