.user-errors {
  color: black;
}

.form-box {
  width: 100%;
  font-weight: 300;
  margin-top: 10px;
  min-height: 60px;
  padding-left: 10px;

  font-size: 18px;
}

.form-buttons {
  width: 100%;
  margin-top: 10px;
  min-height: 65px;

  font-size: 18px;
  font-weight: 300;
  color: white;
}

#login-button, #signup-button {
  background-color: red;
  border: 5px solid red;
}

#guest-login {
  background-color: green;
  border: 5px solid green;
}

#sign-up-link, #login-link {
  float: right;
}
