.search-params {
  margin-bottom: 20px;
}

.search-params .capacity-dropdown {
  height: 27px;
  margin: -7px 0 0 10px;
}

.search-params .date-dropdown {
  width: 100%;
  padding-left: 1em;
  background: white;
  height: 30px;
  margin-top: -15px;
  font-family: "Hind";
  font-size: 14px;
}

.search-params .react-datepicker__input-container {
  margin-right: 6%;
}

.office-type {
  margin-right: 25px;
}

.slider {
  margin-top: 10px;
  height: 20px;
  width: 70%;
  background-color: #ff5a5f;
  opacity: 0.5px;
  cursor: pointer;
}

.my-handle {
  margin-top: -10px;
  z-index: 100;
  background-color: orange;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

#left-handle {
  margin-left: -10px;

}

#right-handle {
  margin-right: -10px;
}
