.search-params {
  margin-bottom: 20px;
}

.search-params .capacity-dropdown {
  height: 27px;
  margin: -7px 0 0 10px;
}

.search-params .date-dropdown {
  min-width: 15em;
  padding-left: 1em;
  background: white;
  height: 30px;
  margin: -15px 10px 0 0;
  font-family: "Hind";
  font-size: 14px;
}

.office-type {
  margin-right: 25px;
}
