#searchTextField {
  font-size: 15px;
  font-family: "Hind";
  padding-left: 15px;
}

#searchTextField {
  outline: none;
}

.searchbar-home {
  width: 40%;
  font-size: 18px;
}

.searchbar-nav {
  width: 100%;
  border: 0;
}
